.wrapper-section {
  width: 90%;
  background-color: var(--BGCOLOR-LIGHT);
  color: var(--BGCOLOR-DARK);
  min-height: 80vh;
  border-radius: 20px;
  margin: 0 auto ;
  display: grid;
  place-items: center;
}

.die-div {
  height: 75px;
  width: 75px;
  background-color: var(--BGCOLOR-DARK);
  color: aliceblue;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: xx-large;
  font-weight: 600;
  border-radius: 5px;
  text-shadow: 2px 1px 1px cornflowerblue;
  box-shadow: 5px 5px 10px cornflowerblue;
  cursor: pointer;
}

.game-div {
  display: grid;
  place-items: center;
  grid-template: auto auto / repeat(5, 1fr);
}

@media screen and (min-width: 576px) {
  .die-div {
    height: 85px;
    width: 85px;
    margin: 1rem;
  }
}